<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-5">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation" >
                                    <li><a class="active" href='{% url "home" %}'>home</a></li>
                                    <li><a href="{% url 'info' %}">info</a></li>

                                    <li><a href="{% url 'movies:main' %}">movie <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">

                                            <li><a href="{% url 'movies:Comedy' %}">comedy</a></li>
                                            <li><a href="{% url 'movies:SF' %}">SF</a></li>
                                            <li><a href="{% url 'movies:Action' %}">action</a></li>
                                            <li><a href="{% url 'movies:Thriller' %}">thriller</a></li>
                                            <li><a href="{% url 'movies:Documentary' %}">documentary</a></li>
                                            <li><a href="{% url 'movies:Romance' %}">romance</a></li>
                                            <li><a href="{% url 'movies:Animation' %}">animation</a></li>
                                            <li><a href="{% url 'movies:Horror' %}">horror</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'review:index' %}">review <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'review:before' %}">before</a></li>
                                            <li><a href="{% url 'review:after' %}">after</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href='{% url "home" %}'>
                                <!-- reflix 로고 만들어 넣기 -->
                                <img src="/static/images/REFLIX_LOGO.png" width="70" height="70" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 d-none d-lg-block">
                        <div class="book_room">
                            <div class="book_btn d-none d-xl-block">
                                {% if user.is_authenticated %}
                                <ul>
                                    <li><a class="nav-link" href="{% url 'movies:person' %}"><i class="fas fa-wine-glass-alt"></i> Today's </a></li>
                                    <li><a class="nav-link"><i class="fas fa-user-alt"></i> {{user}}</a></li>
                                    <li><a class="nav-link" href="{% url 'accounts:logout' %}">Log-out</a></li>
                                </ul>
                                {% else %}
                                    <a class="nav-link" href="{% url 'accounts:login' %}">+ join</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>