{% extends 'movielistbase.html' %}
{% block tatle %}
<div class="bradcam_area breadcam_bg">
    <h3>review [total]</h3>
</div>
{% endblock %}
{% block bb %}
<div class="testimonial_area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                    <div class="section_title mb-60 text-center">
                            <span>reflix</span>
                            <h3>review + flix</h3>
                        </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>리뷰의 re와 영화를 의미하는 flix를 합쳐 만든 단어로 영화리뷰라는 뜻을 가지고 있다.</p>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br>
    <!-- 리뷰 비포에프터 -->
    <div class="Burger_President_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-60 text-center">
                        <span>Testimonials</span>
                        <h3>스포일러방지, 해석 공유 등 <br>
                            자신에게 맞는 리뷰 찾기 쉽도록 <br>
                            리뷰를 분류</h3>
                    </div>
                </div>
            </div>
        <div class="Burger_President_here">
            <div class="single_Burger_President">
                <div class="room_thumb">
                    <img src="/static/images/임시.png" alt="">
                    <div class="room_heading d-flex justify-content-between align-items-center">
                        <div class="room_heading_inner">
                            <span>before</span>
                            <h3>The Burger President</h3>
                            <p>영화를 보기 전 리뷰, 스포일러 걱정 안해도 됨 <br> and relevant.</p>
                            <a href="#" class="boxed-btn3">Order Now</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="single_Burger_President">
                <div class="room_thumb">
                    <img src="/static/images/임시.png" alt="">
                    <div class="room_heading d-flex justify-content-between align-items-center">
                        <div class="room_heading_inner">
                            <span>after</span>
                            <h3>The Burger President</h3>
                            <p>영화를 본 뒤 리뷰, 다양한 시각과 해설로 영화를 더 다양하게 즐길 수 있다. <br> and relevant.</p>
                            <a href="#" class="boxed-btn3">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- features_room_end -->

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <!-- [베스트리뷰어] 기간별,영화별 등  -->
    <div class="testimonial_area ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                        <div class="section_title mb-60 text-center">
                                <span>Best Reviewer</span>
                                <h3>매월 화요일<br>
                                    best reviewer 선정</h3>
                            </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <p>“ㅓ뭉러ㅜㅁ럼이ㅜ라ㅓㅜ이ㅏㅓ뤼마ㅓ우리ㅏㅓㅁ우라머ㅜㄴ라ㅓㅁ우리마ㅓ누러ㅣㅜ리뷰 내용ㅁㅇ러ㅗ어뢰ㅏㅓㄹ오ㅕㅇㅁ러러ㅏ우ㅏㅓ우ㅏㅓㅜㅇ나ㅓ룬아ㅓ루ㅏ어ㅜ."</p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                <img src="/static/images/testmonial/1.png" alt="">
                                            </div>
                                            <h4>Kristiana Chouhan</h4>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <p>“495592405094649857-57-8940946리뷰 내용418475091878173049873019857019857091874308947109874230985."</p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                <img src="/static/images/testmonial/2.png" alt="">
                                            </div>
                                            <h4>Arafath Hossain</h4>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <p>“ngjflnvlajnlajkfne리뷰 내용kjbfaeuhfe."</p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                <img src="/static/images/testmonial/3.png" alt="">
                                            </div>
                                            <h4>A.H Shemanto</h4>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial_area_ned  -->

<br><br><br><br><br><br><br><br><br><br>

<!-- 네이버영화db api 활용 -->
<div class="testimonial_area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                    <div class="section_title mb-60 text-center">
                            <span>?INFO?</span>
                            <h3>NAVER 영화 DB API 활용</h3>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>naver 영화 DB API 활용으로 최신 영화 정보 업데이트 및 믿을 수 있는 정보를 제공중 입니다.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}