{% extends 'reviewbase.html' %}
{% block tatle %}
<div class="bradcam_area breadcam_bg">
    <h3>review [total]</h3>
</div>
{% endblock %}

{% block bb %}
{%if reviews%}
{% for review in reviews %}
<article class="blog_item">
    <div class="blog_item_img">

        {% if review.SNImg %}
        <img class="card-img rounded-0" src="{{review.SNImg.url}}" width="750" height="350" alt="">
        {% else %}
        <img class="card-img rounded-0" src="/static/images/exit.jpg" width="750" height="350" alt="">
        {% endif %}
        <a href="#" class="blog_item_date">
            <h3>{{ review.create_date }}</h3>
        </a>
    </div>

    <div class="blog_details">
        <a class="d-inline-block" href="{% url 'review:redetail' review.id %}">
            <h2>리뷰 제목:{{ review.title }}<br>
                영화 제목:{{ review.movie_title}}</h2>
            <ul class="blog-info-link">
                <li><i class="fa fa-user"></i> {{ review.user}}</li>
                <li>장르 : {{ review.genre}}</li>
                <li><i class="fa fa-comments"></i> {{review.detgle_set.all.count}} Comments</li>
                <li>스포일러 : {{review.spo}}</li>
                <li > {{review.read_cnt}} 조회수 |</li>
            </ul>
        </a>
    </div>
</article>

{% endfor %}
{% else %}
    <div class="blog_details">
            <h2>결과가 없습니다 </h2><br>
    </div>
{% endif %}
<a href="{% url 'review:crReview' %}">
    <input type="submit" value="글쓰기" class="btn btn-warning btn-sm">
</a>

{% endblock %}

