{% extends 'reviewbase.html' %}
{% block tatle %}
<div class="bradcam_area breadcam_bg">
    <h3>review [after]</h3>
</div>
{% endblock %}
{% block bb %}
{% for review in reviews %}
<article class="blog_item">
    <div class="blog_item_img">
        {% if review.SNImg %}
        <img class="card-img rounded-0" src="{{review.SNImg.url}}" width="750" height="350" alt="">
        {% else %}
        <img class="card-img rounded-0" src="/static/images/exit.jpg" width="750" height="350" alt="">
        {% endif %}
        <a href="#" class="blog_item_date">
            <h3>{{ review.create_date }}</h3>
        </a>
    </div>

    <div class="blog_details">
        <a class="d-inline-block" href="{% url 'review:redetail' review.id %}">
            <h2>{{ review.title }}<br>
                {{ review.movie_title}}</h2>
            <ul class="blog-info-link">
                <li><a href="#"><i class="fa fa-user"></i> {{ review.user}}</a></li>
                <li><a href="#">장르 : {{ review.genre}}</a></li>
                <li><a href="#"><i class="fa fa-comments"></i> {{review.detgle_set.all.count}} Comments</a></li>
                <li>스포일러 : {{review.spo}}</li>
                <li style="margin-left:160px">| {{review.read_cnt}} 조회수 |</li>


            </ul>
        </a>
    </div>
</article>
{% endfor %}
<a href="{% url 'review:crReview' %}">
    <button> main</button>
</a>

{% endblock %}

